<div class="space-y-6 p-6 bg-gray-50 rounded-lg shadow-md border border-gray-300">
    <!-- Operator Header -->
    <h3 class="text-2xl font-semibold text-gray-800">Tap</h3>

    <!-- Description Section -->
    <div class="p-6 bg-white rounded-lg shadow-sm border border-gray-100">
        <div class="flex items-center gap-3 mb-4">
            <!-- Icon for CombineLaTap  Operator -->
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z">
                </path>
            </svg>
            <h4 class="text-lg font-semibold text-gray-700">What is the Tap Operator?</h4>
        </div>
        <p class="text-gray-600 leading-relaxed">
            The <span class="font-medium text-blue-600">Tap </span> operator in RxJS is a utility operator that allows
            you to perform side effects (such as logging, debugging, or modifying external state) without altering the
            values emitted by the source observable. It is often used for debugging, logging, or triggering actions
            based on observable emissions. Used for performing side effects.


        </p>
        <div class="mt-4 mb-5">
            <h3 class="text-base font-semibold text-gray-700">Marble Diagram Image Link</h3>
            <a href="https://rxjs.dev/assets/images/marble-diagrams/tap.png" target="_blank"
                class="text-blue-600">Link</a>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-semibold text-gray-800 mb-3">Common Use Cases:</h3>
            <ul class="space-y-2">
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Logging and Debugging: </strong> Log values at different stages of
                        an observable chain.
                    </span>
                </li>
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Triggering Side Effects:</strong> Perform actions like updating the
                        UI or external state.
                    </span>
                </li>
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Inspecting Values:</strong> Inspect values without altering the
                        observable chain.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>