<div class="space-y-6 p-6 bg-gray-50 rounded-lg shadow-md border border-gray-300">
    <!-- Operator Header -->
    <h3 class="text-2xl font-semibold text-gray-800">Find Index</h3>

    <!-- Description Section -->
    <div class="p-6 bg-white rounded-lg shadow-sm border border-gray-100">
        <div class="flex items-center gap-3 mb-4">
            <!-- Icon for Find Index  Operator -->
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z">
                </path>
            </svg>
            <h4 class="text-lg font-semibold text-gray-700">What is the Find Index Operator?</h4>
        </div>
        <p class="text-gray-600 leading-relaxed">
            The <span class="font-medium text-blue-600">Find Index </span> operator is similar to the find operator, but
            instead of emitting the first matching value, it emits the index of the first matching value. If no matching
            value is found, it emits -1.
            searches for the first item in the source Observable that matches the specified condition embodied by the
            predicate, and returns the (zero-based) index of the first occurrence in the source. Unlike first, the
            predicate is required in findIndex, and does not emit an error if a valid value is not found.
        </p>
        <div class="mt-4 mb-5">
            <h3 class="text-base font-semibold text-gray-700">Marble Diagram Image Link</h3>
            <a href="https://rxjs.dev/assets/images/marble-diagrams/findIndex.png" target="_blank"
                class="text-blue-600">Link</a>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-semibold text-gray-800 mb-3">Common Use Cases:</h3>
            <ul class="space-y-2">
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Locating Items in Streams:</strong> Find the index of the first
                        matching item in a data stream.
                    </span>
                </li>
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Handling UI Interactions: </strong> Determine the position of the
                        first user action (e.g., the first click on a button).
                    </span>
                </li>
                <li class="flex items-start text-gray-700 leading-relaxed">
                    <span class="shrink-0 w-1.5 h-1.5 bg-gray-400 rounded-full mt-2.5 mr-3"></span>
                    <span>
                        <strong class="font-medium">Debugging & Data Processing:</strong> Identify the position of an
                        error or a specific event in a real-time data feed.
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>