<!-- 
    Buffer operator in RxJS is used to collect values emitted by the source observable into an array 
    and emit that array when a specified "closing notifier" observable emits a value. Essentially, 
    it buffers the values until the closing notifier signals that it's time to release the buffered values. 
-->

<div class="space-y-6 p-6 bg-gray-50 rounded-lg shadow-md border border-gray-300">
    <!-- Operator Header -->
    <h3 class="text-2xl font-semibold text-gray-800">Buffer Count</h3>

    <!-- Description Section -->
    <div class="p-6 bg-white rounded-lg shadow-sm border border-gray-100">
        <div class="flex items-center gap-3 mb-4">
            <!-- Icon for Buffer Operator -->
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z">
                </path>
            </svg>
            <h4 class="text-lg font-semibold text-gray-700">What is the Buffer Count Operator?</h4>
        </div>
        <p class="text-gray-600 leading-relaxed">
            The <span class="font-medium text-blue-600">Buffer Count</span> operator in RxJS is another powerful
            buffering operator.
            Unlike buffer, which relies on a closing notifier observable to determine when to emit buffered values,
            bufferCount collects a specified number of values from the source observable and then emits them as an
            array.
            It’s like creating "chunks" or "windows" of values.
        </p>
        <div class="mt-4">
            <h3 class="text-base font-semibold text-gray-700">Marble Diagram Image Link</h3>
            <a href="https://rxjs.dev/assets/images/marble-diagrams/bufferCount.png" target="_blank"
                class="text-blue-600">Link</a>
        </div>
    </div>

    <!-- Example Section -->
    <div class="p-6 bg-white rounded-lg shadow-sm border border-gray-100">
        <h4 class="text-lg font-semibold text-gray-700 mb-4">Example</h4>
        <p class="text-gray-600 leading-relaxed mb-4">
            In this example, we use the <span class="font-medium text-blue-600">Buffer Count</span> operator to collect
            values emitted by a source observable
            into chunks of 3 once the buffer reaches the specified size, it emits the array of collected values.
            Buffer count takes two arguments: bufferSize and startBufferEvery. If startBufferEvery is provided,
            overlapping buffers can be created.
        </p>
        <div class="flex gap-4">
            <div class="flex gap-2">
                <input type="text" #input class="w-[40px] border border-black rounded-lg text-center"
                    placeholder="size" />
                <button (click)="startOperator(input.value  || '3');"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                    Start
                </button>
            </div>
            <div class="flex gap-2">
                <input type="text" #input2 class="w-[40px] border border-black rounded-lg text-center"
                    placeholder="size" />
                <input type="text" #input3 class="w-[40px] border border-black rounded-lg text-center"
                    placeholder="arg" />
                <button (click)="startOperatorWithBufferEveryArg(input2.value || '3', input3.value || '3')"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                    Start with startBufferEvery
                </button>
            </div>
            <button (click)="stopOperator()"
                class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
                Stop
            </button>
        </div>
    </div>

    <!-- Result Section -->
    <div class="mt-6">
        <h3 class="text-xl font-semibold text-gray-800">Result:</h3>
        <div class="mt-4 p-4 bg-white rounded-lg shadow-inner">
            @for (value of values; track $index) {
            <h5 class="text-gray-700 font-medium">{{ value }}</h5>
            }
        </div>
    </div>
</div>